In [8]:
# monthly UPT sums
import os
import pandas as pd
import matplotlib.pyplot as plt

filepath = '../../Data/raw/'

transit = pd.ExcelFile(
    filepath + 
    'April 2023 Complete Monthly Ridership (with adjustments and estimates)_0.xlsx'
)

upt = transit.parse('UPT')

# drop summary rows at end of excel sheet
upt = upt.dropna(subset=['NTD ID'])

In [9]:
upt_city_sums = upt.groupby('UZA Name').sum()
upt_city_sums = upt_city_sums.drop(columns=['NTD ID', "UZA"])
upt_city_sums = upt_city_sums.T
upt_city_sums = upt_city_sums.rename_axis('date')

upt_city_sums
upt_city_sums.to_csv('../../Data/monthly_upt_sums.csv')

In [2]:
upt_city_sums.index = pd.to_datetime(upt_city_sums.index, format="%Y")

upt_city_sums = upt_city_sums.rename_axis(index='date')

# 2023 not complete yet, so makes numbers look worse than they are
upt_city_sums = upt_city_sums.loc[:'2022']

In [3]:
upt_city_sums

UZA Name,"Aberdeen-Bel Air South-Bel Air North, MD","Abilene, TX","Akron, OH","Albany, GA","Albany-Schenectady, NY","Albuquerque, NM","Alexandria, LA","Allentown, PA-NJ","Altoona, PA","Amarillo, TX",...,"Wilmington, NC","Winchester, VA","Winston-Salem, NC","Winter Haven, FL","Worcester, MA-CT","Yakima, WA","York, PA","Youngstown, OH-PA","Yuba City, CA","Yuma, AZ-CA"
date,,,,,,,,,,,,,,,,,,,,,
2002-01-01,206442.0,600217.0,6286026.0,660406.0,11727393.0,7340397.0,641296.0,4796045.0,497600.0,252627.0,...,557178.0,0.0,77235.0,363432.0,0.0,0.0,0.0,1386735.0,0.0,0.0
2003-01-01,230201.0,584114.0,6441156.0,700539.0,11653362.0,6800461.0,564833.0,4757752.0,700677.0,360453.0,...,570748.0,0.0,0.0,474633.0,0.0,1106108.0,0.0,1384568.0,173.0,0.0
2004-01-01,250168.0,581436.0,6935189.0,695334.0,11503092.0,6775606.0,579402.0,5038668.0,670075.0,371114.0,...,893616.0,0.0,0.0,582941.0,3193992.0,575151.0,869338.0,1491589.0,341.0,96873.0
2005-01-01,266474.0,618840.0,7040431.0,679504.0,12540770.0,7933308.0,579370.0,5410895.0,672510.0,389595.0,...,384469.0,0.0,2911125.0,562112.0,3394179.0,1216595.0,1193328.0,1788936.0,425.0,203933.0
2006-01-01,296791.0,603790.0,7066987.0,786297.0,12894692.0,9260967.0,293290.0,5776929.0,704878.0,389985.0,...,1456952.0,0.0,2891410.0,674778.0,3454046.0,1298771.0,1919946.0,347121.0,772888.0,293382.0
2007-01-01,297547.0,600231.0,6853635.0,788762.0,13366880.0,9985277.0,716405.0,5429607.0,618678.0,395471.0,...,1544595.0,136686.0,2842258.0,576214.0,3417281.0,1433014.0,2067439.0,1360496.0,880595.0,300792.0
2008-01-01,310476.0,576491.0,7160353.0,900823.0,15260502.0,11137218.0,734936.0,4518097.0,599203.0,368026.0,...,1444081.0,0.0,3087734.0,653621.0,3431659.0,1652637.0,1616646.0,1100351.0,1020311.0,339673.0
2009-01-01,294655.0,583942.0,6519629.0,887195.0,14113060.0,12190750.0,790771.0,5872821.0,605408.0,361093.0,...,1325195.0,0.0,2911924.0,533774.0,3416221.0,1517042.0,1528822.0,1278300.0,1063106.0,361678.0
2010-01-01,292937.0,560738.0,6576049.0,912560.0,13808696.0,12931265.0,727927.0,5501984.0,724819.0,369116.0,...,1497244.0,0.0,3134450.0,581386.0,3582025.0,1477160.0,1634933.0,1510696.0,1078785.0,322446.0
2011-01-01,338262.0,576061.0,6851181.0,996223.0,14452271.0,13871059.0,669720.0,5999551.0,701090.0,409375.0,...,1622319.0,0.0,3518603.0,626245.0,3799789.0,1621275.0,1866002.0,1587751.0,1180428.0,273513.0
2012-01-01,365297.0,0.0,7004613.0,1028041.0,15498594.0,14442450.0,0.0,5217405.0,700371.0,423483.0,...,1630965.0,0.0,3557395.0,640312.0,3579635.0,1698746.0,2142084.0,1635498.0,1199297.0,356376.0
2013-01-01,369886.0,0.0,6975290.0,1030081.0,16359203.0,14448261.0,0.0,5486037.0,672320.0,413963.0,...,1538898.0,0.0,3476155.0,555279.0,3799932.0,1419269.0,2033922.0,1733600.0,1256834.0,427030.0
2014-01-01,164883.0,0.0,6985602.0,897899.0,16907694.0,14363837.0,0.0,5455309.0,622478.0,302181.0,...,1534818.0,0.0,3490137.0,313171.0,4060562.0,1295226.0,1933667.0,1850442.0,1294862.0,481202.0
2015-01-01,0.0,0.0,6861468.0,709604.0,16898083.0,13132830.0,0.0,5330836.0,593250.0,0.0,...,1497466.0,0.0,3297138.0,180362.0,4101322.0,1268127.0,2003483.0,1774869.0,1261260.0,480263.0
2016-01-01,0.0,0.0,6468152.0,669179.0,16842078.0,12165845.0,0.0,5221879.0,589539.0,0.0,...,1417205.0,0.0,3096140.0,0.0,3985182.0,1185587.0,2188410.0,1629639.0,1136370.0,490108.0
2017-01-01,0.0,0.0,6405681.0,736124.0,16678501.0,10898978.0,0.0,5023519.0,558587.0,0.0,...,1404163.0,0.0,2512624.0,0.0,3555426.0,1174920.0,2232046.0,1564710.0,1022426.0,496589.0
2018-01-01,0.0,0.0,6365983.0,755704.0,15696339.0,10742239.0,0.0,4783248.0,556601.0,0.0,...,1262512.0,0.0,2621622.0,0.0,3258376.0,1103595.0,2279125.0,1513939.0,972656.0,527878.0
2019-01-01,0.0,0.0,6574247.0,770160.0,15555220.0,10141517.0,0.0,4723610.0,561356.0,0.0,...,1385189.0,0.0,2745195.0,0.0,3105976.0,1056918.0,2214255.0,1509845.0,897636.0,540953.0
2020-01-01,0.0,0.0,3702550.0,507620.0,11058241.0,5385889.0,0.0,3059696.0,354425.0,0.0,...,746089.0,0.0,2082643.0,0.0,2086869.0,591791.0,1343116.0,922279.0,458014.0,318884.0
2021-01-01,0.0,0.0,3430256.0,339551.0,11037981.0,4764283.0,0.0,2770995.0,376281.0,0.0,...,641622.0,0.0,1620529.0,0.0,2742788.0,520862.0,1327968.0,942791.0,394838.0,318479.0
2022-01-01,0.0,0.0,4292745.0,273011.0,13135063.0,6659620.0,0.0,3405199.0,444164.0,0.0,...,720475.0,0.0,1636718.0,0.0,3752543.0,513484.0,1594678.0,1330784.0,481388.0,392797.0